---
title: A Page for love
layout: base.njk
---



<div class="container">
    <h1>I love You </h1>
    <div class="love">❤️</div>
    <div class="vibes"></div>
     
</div>
<script src="js/vibes.js"></script>